<div class="bg-img">
<div class="box">
    <div class="container">
        <form >
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" id="name" placeholder="Enter Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="text" id="email" placeholder="Enter email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        <input type="number" id="age" placeholder="Enter age">
                    </td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <input type="radio" name="Gender">Male
                        <input type="radio" name="Gender">Female
                    </td>
                </tr>
                <tr>
                    <td>Phone No:</td>
                    <td>
                        <select>
                            <option>+91</option>
                        </select>
                        <input type="num" name="Phone" placeholder="Enter phoneno">
                    </td>
                </tr>
                <tr>
                    <td>What are your symptoms?</td>
                    <td>
                        <textarea rows="5" cols="30"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="Submit" value="Submit" name="" style=" background-color: plum">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

</div>