<body><h1><b>PHARMACY</b></h1>
    <h2 >  Covid care n protection</h2>
    <div class="container">
        <div class="grid-container">
            <a href="https://www.amazon.in/Vandelay-Infrared-Thermometer-Sensor-Warranty/dp/B08838HPMF/ref=sr_1_3_sspa?crid=1OS6YXJLD4VPJ&keywords=Infrared+Thermometer&qid=1643643407&sprefix=infrared+thermometer%2Caps%2C405&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFIQzFGQjU1MjczUTkmZW5jcnlwdGVkSWQ9QTEwMDkwMDIySlpLN0I1RUdSUlomZW5jcnlwdGVkQWRJZD1BMDAzMTIyNlpBVFcxNTZFNzI4NSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/51yhH82KvZL._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Infrared Thermometer</span>
            <p style="text-align: center;">₹1,298</p>
        </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/Covifind-Covid-19-Rapid-Antigen-Approved/dp/B097SXCGRP/ref=sr_1_3?crid=1E0D3JA6YD5O5&keywords=covid+self+test+kit&qid=1643643782&sprefix=covid+self+test+kit%2Caps%2C536&sr=8-3">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/71F+Rkk80wL._AC_UL640_QL65_.jpg" height="150px" width="150px">
            </div>
            <span class="name">covid self test kit</span>
            <p style="text-align: center;">₹450</p>
            </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/Mediwrap-Crepe-Bandage-10-Brown/dp/B01C5KY5XA/ref=sr_1_15?crid=1FK1UIZ19AACH&keywords=Cotton+Crepe+Bandage&qid=1643644074&sprefix=cotton+crepe+bandage%2Caps%2C672&sr=8-15">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/41JviFuJYGL._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Cotton Crepe Bandage</span>
            <p style="text-align: center;">₹160</p>
            </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/Dr-Trust-Talking-Automatic-Pressure/dp/B08CHH9YD8/ref=sr_1_7?crid=2NUO2IR522171&keywords=Blood+Pressure+Monitor+Machine&qid=1643644176&sprefix=cotton+crepe+bandage%2Caps%2C807&sr=8-7">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/711zUfta4nL._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Blood Pressure Monitor Machine</span>
            <p style="text-align: center;">₹1899</p>
            </a>

        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/ARLICORPINGTM-Vaporizer-Nano-Ionic-Technology-Sterilization/dp/B09C8T994P/ref=sr_1_26?crid=3BQ2GYQDGDUH6&keywords=Inhaler&qid=1643644323&sprefix=inhaler%2Caps%2C576&sr=8-26">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/613D0YBHV7L._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Inhaler</span>
            <p style="text-align: center;">₹749</p>
            </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/kossto-Premium-Magnetic-Corrector-Shoulder/dp/B08PF8SV1R/ref=sr_1_7?crid=W8FZ38Z50LRT&keywords=back+back+support+men+%26+woman&qid=1643644607&sprefix=back+back+support+man+%26+woman%2Caps%2C619&sr=8-7">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/71wsfbypbzL._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">back Back Support Man & Woman</span>
            <p style="text-align: center;">₹499</p>
            </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/KENADIYA-Breathable-Anti-Bacterial-Embroidered-Multicolour/dp/B09H5H7DTM/ref=sr_1_2_sspa?keywords=Fabric+Face+Mask&qid=1643644700&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFMOFlGMlE2NVdKUkEmZW5jcnlwdGVkSWQ9QTA5MTU2MjQxMlk3SVM0TDkxTDEyJmVuY3J5cHRlZEFkSWQ9QTA5NTQyNzEyS0k1Mk9CSURBRTJFJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/81uT6ny6gML._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Fabric Face Mask</span>
            <p style="text-align: center;">₹388</p>
            </a>
        </div>
    
        <div class="grid-container">
            <a href="https://www.amazon.in/Dr-Morepen-ST01-Deluxe-Stethoscope/dp/B00C0NU028/ref=sr_1_6?crid=GPK0GQUP58ZK&keywords=Stethoscope&qid=1643644808&sprefix=stethoscope%2Caps%2C483&sr=8-6">
            <div class="product-image">
                <img src="https://m.media-amazon.com/images/I/41dyQ-9LUdL._AC_UL320_.jpg" height="150px" width="150px">
            </div>
            <span class="name">Stethoscope</span>
            <p style="text-align: center;">₹278</p>
            </a>
        </div>
    
    
    </div>

 <h2 > Nutrional supplements</h2>
<div class="container">
    <div class="grid-container">
        <a href="https://www.amazon.in/Celevida-Kesar-Elaichi-Flavor-Metal/dp/B081WJ6536/ref=sr_1_1_sspa?crid=3UO56JK431H84&keywords=celevida&qid=1643644897&sprefix=celevida%2Caps%2C690&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFISzVFSlY0Nlc1VzEmZW5jcnlwdGVkSWQ9QTAzMDUzOTAzNlZKWVRaMkFSVTc1JmVuY3J5cHRlZEFkSWQ9QTA3ODIxODYyT0c1U1g5WkcwTVg3JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/61hx8AI5xbL._SL1100_.jpg"height="150px" width="150px">
        </div>
        <span class="name">celevida</span>
        <p style="text-align: center;">₹587</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/Carbamide-Forte-Multivitamin-Gummies-Superfoods-60Gummies/dp/B083961KCD/ref=sr_1_3_sspa?crid=2IKSDYHAELWJ6&keywords=carbamide+forte&qid=1643645047&sprefix=carbamide+forte%2Caps%2C791&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE5RDJCMkExT1lKWDEmZW5jcnlwdGVkSWQ9QTAxNjk1MDgzSko5TDE3QkVZNTg1JmVuY3J5cHRlZEFkSWQ9QTA1NTMwNzQzQjdGWEJZSjZIQ0JQJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/51wMGw-Uw-L._SL1000_.jpg"height="150px" width="150px">
        </div>
        <span class="name">Carbamide Forte</span>
        <p style="text-align: center;">₹349</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/Baidyanath-Tablets-Nutritional-Supplement-Eliminates/dp/B09M9PZHZM/ref=sr_1_5?crid=3JVDYC47NCSGJ&keywords=baidyanath+aloevera+tablets&qid=1643645107&sprefix=baidyanath+alovera+tablets%2Caps%2C529&sr=8-5">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/81oi6UGd0jL._SL1500_.jpg"height="150px" width="150px">
        </div>
        <span class="name">Baidyanath alovera tablets</span>
        <p style="text-align: center;">₹313</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/Groviva-Child-Nutrition-Supplement-Vanilla/dp/B08XP9WPHL/ref=sr_1_3?crid=24YUKKUV6QVA4&keywords=Groviva+for+children&qid=1643645223&sprefix=baidyanath+alovera+tablets%2Caps%2C809&sr=8-3">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/71IC5LLVU4L._SL1500_.jpg" height ="125px" width="125px">
        </div>
        <span class="name">Groviva for children</span>
        <p style="text-align: center;">₹894</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/Pro360-Ortho-Veg-Nutritional-Beverage/dp/B07NSYL9BR/ref=sr_1_6?crid=3B013B3TH1AEF&keywords=pro360+for+bone+and+joints&qid=1643645299&sprefix=pro+360+for+bone+and+joints%2Caps%2C545&sr=8-6">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/61Y9Brd6RAL._SL1407_.jpg" height = "125px" width="125px">
        </div>
        <span class="name">Pro 360 for bone and joints</span>
        <p style="text-align: center;">₹440</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/dp/B08B6523XM/ref=redir_mobile_desktop?_encoding=UTF8&aaxitk=97ed2098292d03008405b8e6d5a44c4a&hsa_cr_id=6634684930402&pd_rd_plhdr=t&pd_rd_r=1c8234c1-5760-45e3-b002-160ba0b4af9a&pd_rd_w=SbzEp&pd_rd_wg=ZWNZy&ref_=sbx_be_s_sparkle_mcd_asin_2_img">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/618E2jlHY+L._SL1500_.jpg" height="125px"width="125px">
        </div>
        <span class="name">Himalayan organics </span>
        <p style="text-align: center;">₹599</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/dp/B00IFWE39Y/ref=redir_mobile_desktop?_encoding=UTF8&aaxitk=a4de48199ff571d36824381a02663c76&hsa_cr_id=9458295840302&pd_rd_plhdr=t&pd_rd_r=a08c9cb5-da23-4b58-9e6c-2e65fb769221&pd_rd_w=j1nLw&pd_rd_wg=y5MUA&ref_=sbx_be_s_sparkle_lsi4d_asin_0_img">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/71f-Av2k+JL._SL1500_.jpg" height="125px"width="125px">
        </div>
        <span class="name">Ensure</span>
        <p style="text-align: center;">₹1082</p>
        </a>
    </div>

    <div class="grid-container">
        <a href="https://www.amazon.in/dp/B09DQMX437/ref=redir_mobile_desktop?_encoding=UTF8&aaxitk=bba39558df45ebe953d0b2970558756e&hsa_cr_id=4031253710102&pd_rd_plhdr=t&pd_rd_r=96861e77-d24e-4746-9f13-5a7539ee2573&pd_rd_w=XpfOO&pd_rd_wg=EA3ck&ref_=sbx_be_s_sparkle_mcd_asin_0_img">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/81aHL2mMw6L._SL1500_.jpg" height="125px" width="125px">
        </div>
        <span class="name">protinex</span>
        <p style="text-align: center;">₹617</p>
        </a>
    </div>


</div>

