<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>SIGNUP</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="text">Get consulted by doctors online!</div>
        <form action="#">
           <div class="form-row">
              <div class="input-data">
                 <input type="text" required>
                 <div class="underline"></div>
                 <label for="">First Name</label>
              </div>
              <div class="input-data">
                 <input type="text" required>
                 <div class="underline"></div>
                 <label for="">Last Name</label>
              </div>
           </div>
           <div class="form-row">
               <div class="input-data">
                   <input type="text" required>
                   <div class="underline"></div>
                   <label for="">Email Address</label>
               </div>
           </div>
           <div class="form-row">
              <div class="input-data">
                 <input type="password" required>
                 <div class="underline"></div>
                 <label for="">Password</label>
              </div>
              <div class="input-data">
                 <input type="password" required>
                 <div class="underline"></div>
                 <label for="">Confirm Password</label>
              </div>
           </div>
           <div class="form-row">
              <div class="input-data textarea">
                 <div class="form-row submit-btn">
                    <div class="input-data">
                       <div class="inner"></div>
                       <input type="submit" value="submit" routerLink="/doctor">
                    </div>
                 </div>
              </div>
           </div>
        </form>
     </div>
   </body>
</html>
<router-outlet></router-outlet>